PORT=4001
BACKEND_URL=http://localhost:8000
INTEGRATION_SHARED_SECRET=change-me
ZALO_ADAPTER=zca-js
ZALO_ACCOUNT_LABEL=default
ZALO_LANGUAGE=vi
# Link Zalo thật của tài khoản/OA bot để phụ huynh mở chat khi quét QR
ZALO_BOT_CHAT_URL=https://zalo.me/<bot-or-oa-id>
ZALO_BOT_DISPLAY_NAME=Zalo Bot trung tâm
ZALO_LINK_MESSAGE_PREFIX=LINK
